<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cst.dao.UserDao">
    <insert id="insert" parameterType="cst.entity.User">
        INSERT  INTO tablename (username) VALUES (#{username})
    </insert>
    <select id="selectAll" resultType="cst.entity.User">
      SELECT * from tablename ORDER by username ASC
    </select>

</mapper>